.order-card {
    width: 200px;
    height: 300px;
    background-color: white;
    border: 1px solid var(--input-border);
    border-radius: 5px;
    box-shadow: var(--shadow);
    padding: 15px;
}
.order-title {
    text-transform: capitalize;
    font-weight: bold;
}

ul#order-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul#order-list li {
    padding-left: 1em;
    text-indent: -0.7em;
    text-transform: capitalize;
    margin-bottom: 0;
    color: var(--color-1);
}

ul#order-list li::before {
    content: "•";
    padding-right: 7px;
    color: var(--color-1); /* or whatever color you prefer */
}

#order-title {
    color: var(--color-1);
}
#order-list-title {
    color: var(--color-1);
    margin-bottom: 5px;
}

#order-stepper {
    display: grid;
    grid-template-columns: min-content max-content;
    grid-gap: 10px;
    margin-bottom: 40px;
}
.order-stepper-line {
    height: 50px;
    background-color: var(--color-1);
    width: 5px;
    border-radius: 1000px;
    justify-self: center;
}
.not-done-order-stepper-line {
    height: 50px;
    background-color: transparent;
    width: 5px;
    border-radius: 1000px;
    background-color: var(--color-1-disabled);
    justify-self: center;
}
.order-stepper-icon {
    color: var(--color-1);
    justify-self: center;
    align-self: center;
    width: 2rem;
    height: 2rem;
}
.order-stepper-icon.disabled {
    color: var(--color-1-disabled);
}
.order-stepper-text {
    margin-bottom: 0;
    font-weight: bold;
    font-size: 1.125rem;
    color: var(--color-1);
    align-self: center;
}
.order-stepper-text.disabled {
    color: var(--color-1-disabled);
}
.order-stepper-description {
    color: var(--color-1);
}
