a.rainbow {
  color: black;
  width: min-content;
  text-decoration: none;
  padding: 7px;
  border-radius: 5px;
  background: rgb(255, 177, 190);
  background: linear-gradient(
    90deg,
    rgba(255, 177, 190, 1) 0%,
    rgba(248, 170, 221, 1) 25%,
    rgba(186, 147, 223, 1) 50%,
    rgba(108, 209, 239, 1) 75%,
    rgba(120, 230, 208, 1) 100%
  );
  transition: all 250ms;
}

a.rainbow:hover {
  text-decoration: underline;
}

.header-container {
  margin: 0 auto;
  max-width: 960px;
  padding: 1.45rem 1.0875rem;
}
.nav-link {
  padding: 7px;
  border-radius: 5px 5px 0 0;
  background-color: #d4ced6;
  text-decoration: none;
  color: black;
}
.nav-link.active {
  font-weight: bold;
  background-color: #f7f1f9;
}
